# Sandbox-Files
**/.cabal-sandbox/
**/cabal.sandbox.config

# Cabal-Files
*/dist/

# Snap-Files
/Server/log

# Sqlite-Files
/Server/*.db

# Windows-Files
**/desktop.ini
**/Thumbs.db

# OSX files
**/.DS_Store
