# Sandbox-Files
**/.cabal-sandbox/
**/cabal.sandbox.config

# Cabal-Files
*/dist/

# Snap-Files
/Server/log

# Sqlite-Files
/Server/*.db
/Server/*.db-shm
/Server/*.db-wal

# Windows-Files
**/desktop.ini
**/Thumbs.db

# OSX files
**/.DS_Store

# HPC
*/.hpc/
